.btn-holder {
    clear: both;
}
#submit_test, input {
    font-family: 'Chakra Petch', sans-serif;
}
#form_div {
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    align-items:center;
}