@font-face {
    font-family: roadrage;
    src: url('Road_Rage.otf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}
.menu_div {
    background-color: black;
    height: 20vh;
    width: 100%;
}
#logo {
    margin-top: 3.5vh;
    margin-left: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 0.8;
    display: inline-block;
    font-family: roadrage;
    font-size: 8vh;
    background: linear-gradient(to bottom, #ff38cd, #ff56d3, #ff6dd9, #ff81de, #ff93e3, #ff93e3, #ff93e3, #ff93e3, #ff81de, #ff6dd9, #ff56d3, #ff38cd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: -1px 0px 17px #FF38CD;
}
.background_div {
    padding-top: 2vw;
    min-height: 65vh;
    padding-bottom: 2vh;
    background:
    linear-gradient(to bottom, black 25%, transparent 75%),
    /* linear-gradient(transparent, 25%, #ff38cd 25%, 25.2%, transparent 25.2%, 28%, #ff38cd 28%, 28.2%, transparent 28.2%, 37%, #ff38cd 37%, 37.2%, transparent 37.2%, 52%, #ff38cd 52%, 52.2%, transparent 52.2%, 73%, #ff38cd 73%, 73.2%, transparent 73.2%), */
    repeating-conic-gradient(
    from 3deg at 50% 25%,
    #8c2271 0deg 0.3deg,
    black 0deg 10deg);
}
.content_div {
    padding-top: 2%;
    padding-left: 2%;
    color: #d1d1c5;
    border-color: #5da4a6;
    box-shadow: 0px 0px 4px #5da4a6;
    border-style: solid;
    border-width: 1px;
    margin: 2% 2% 2% 2%;
    min-height: 50vh;
    background: rgba(0,0,0,0.5);
}
.footer_div {
    background-color: black;
    height: 10vh;
    width: 100%;
    display:table;
    color: white;
    text-align: center;
    font-size: 2vh;
}
.footer_span {
    display:table-cell;
    vertical-align: middle;
    color: white;
}
