<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/loader.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Chakra+Petch&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="menu_div">
    <a id="logo" href="/">Future<br>&nbsp;&nbsp;&nbsp;synth</a><a class="menu_items" href="/">Wykonaj test</a><a class="menu_items" href="/plan_test">Zaplanuj test</a><a class="menu_items" href="/docs">Dokumentacja</a>
</div>
<div class="background_div">
    <div class="content_div">

    </div>


</div>
<div class="footer_div">
    <span class="footer_span"><a class="footer_item" href="https://github.com/kpolako/futuresynth">Github</a><br><a>konradpolakowska@gmail.com</a></span>
</div>
</body>
</html>