<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('app.static', filename='css/index.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('app.static', filename='css/form.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('app.static', filename='css/switch.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('app.static', filename='css/loader.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Chakra+Petch&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('app.static', filename='js/form_adhoc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('app.static', filename='js/validate_adhoc.js') }}"></script>
</head>
<body>
<div class="menu_div">
    <a id="logo" href="{{ url_for('app.route_home') }}">Future<br>&nbsp;&nbsp;&nbsp;synth</a><a class="menu_items" href="{{ url_for('app.route_home') }}">Wykonaj test</a><a class="menu_items" href="{{ url_for('app.route_plan_test') }}">Zaplanuj test</a><a class="menu_items" href="{{ url_for('app.route_all_tests') }}">Testy</a><a class="menu_items" href="https://futuresynth.westeurope.cloudapp.azure.com/" target="_blank">Wyniki</a><a class="menu_items" href="{{ url_for('app.route_docs') }}">Dokumentacja</a>
</div>
<div class="background_div">
    <div class="content_div">
            <div class="form_div" id="form_div">
                <input type="text" placeholder="Wprowadź adres strony" id="input-url" class="input-text">
        <br>
        <div class="switch-box">
            <span class="device-type-span">desktop</span>
            <label class="switch">
                <input type="checkbox" id="togBtn-device">
                <div class="slider round">
                    <span class="mobile"></span>
                    <span class="desktop"></span>
                </div>
            </label>
            <span class="device-type-span">mobile</span>
        </div>

        <div class="testtypechoice">
            <span class="testtypechoice_span">Typ testu:</span><br>
            <input type="radio" id="lighthouse" name="testtype" value="lighthouse" class="testtypechoice_input" checked>
            <label for="lighthouse">Lighthouse</label><br>
            <input type="radio" id="selenium" name="testtype" value="selenium" class="testtypechoice_input">
            <label for="selenium">Selenium</label><br>
        </div>

        <div class="btn-holder">
            <a class="button" id="submit_test">Wykonaj test</a>
        </div>

    </div>

    </div>


</div>
<div class="footer_div">
    <span class="footer_span"><a class="footer_item" target="_blank" href="https://github.com/kpolako/futuresynth">Github</a><br><a>konradpolakowska@gmail.com</a></span>
</div>
</body>
</html>