<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/form.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/switch.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/loader.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Chakra+Petch&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="menu_div">
    <p id="logo">Future<br>&nbsp;&nbsp;&nbsp;synth</p>
</div>
<div class="background_div">
    <div class="content_div">
            <div class="form_div" id="form_div">
        <input type="text" placeholder="Wprowadź adres strony" id="input-url">
        <br>
        <div class="boxes" class="switch-box">
            <span class="device-type-span">desktop</span>
            <label class="switch">
                <input type="checkbox" id="togBtn-device">
                <div class="slider round">
                    <span class="mobile"></span>
                    <span class="desktop"></span>
                </div>
            </label>
            <span class="device-type-span">mobile</span>
        </div>

        <div class="boxes" class="switch-box">
            <span class="device-type-span">lighthouse</span>
            <label class="switch">
                <input type="checkbox" id="togBtn-testtype">
                <div class="slider round">
                    <span class="lighthouse"></span>
                    <span class="selenium"></span>
                </div>
            </label>
            <span class="device-type-span">selenium</span>
        </div>

        <div class="btn-holder">
            <button id="submit_test">Wykonaj test</button>
        </div>

    </div>

    </div>


</div>
<div class="footer_div">
    <span class="footer_span">Dokumentacja:<br>Kontakt:</span>
</div>
</body>
</html>